.custom-section-subtitle {
  padding: 24px 24px 8px;

  h2 {
    font: normal normal normal 20px/25px "lato", lato, sans-serif;
    letter-spacing: 0.26px;
    color: #0E70C7;
    margin: 0;
    padding: 0;
  }
}
