<div class="custom-accordion-entry" [class]="collapsed ? 'custom-accordion-entry collapsed': 'custom-accordion-entry'">
  <div class="custom-accordion-head" (click)="onClick($event)">
    <h1>{{entry.title}}</h1>
    <i [class]="collapsed ? 'fas fa-chevron-down': 'fas fa-chevron-up'"></i>
  </div>
  <div class="custom-accordion-body">
    <div class="custom-accordion-body-inner">
      <div *ngIf="entry.groups?.length > 1; then nestedBlock else normalBlock"></div>
      <ng-template #nestedBlock>
         <app-accordion [nested]="true" [data]="entry.groups"></app-accordion>
      </ng-template>
      <ng-template #normalBlock>
        <app-accordion-entry-content [data]="entry.sections"></app-accordion-entry-content>
      </ng-template>
    </div>
  </div>
</div>