<div class="custom-accordion-entry" [class]="collapsed ? 'custom-accordion-entry collapsed': 'custom-accordion-entry'">
  <div class="custom-accordion-head" (click)="onClick($event)">
    <h1>{{entry.title}}</h1>
    <i [class]="collapsed ? 'fas fa-chevron-down': 'fas fa-chevron-up'"></i>
  </div>
  <div class="custom-accordion-body">
    <div class="custom-accordion-body-inner">

      <app-accordion [nested]="true" [data]="entry.groups" *ngIf="entry.groups?.length>1;"></app-accordion>
      <app-accordion-entry-sections [data]="entry.groups[0]?.sections" *ngIf="entry.groups?.length == 1 && entry.groups[0].sections?.length>0;"></app-accordion-entry-sections>
      <app-accordion-entry-sections [data]="entry.sections" *ngIf="entry.sections?.length > 0;"></app-accordion-entry-sections>

    </div>
  </div>
</div>
