<div class="dashboard-list-view-mobile">
  <div class="dashboard-policy-row mb-4" *ngFor="let key of objectKeys(data)">
    <ng-container *ngTemplateOutlet="shouldBeRendered(key)?mobileShow:mobileHide; context:{key:key, data:data};">
    </ng-container>
  </div>

  <ng-template #mobileShow let-key="key" let-data="data">
    <div class="dashboard-policy-row-head mb-3">
      <img class="policy-icon" src="/assets/images/dashboard-{{key.toLowerCase()}}-policy.svg" />
      <h2 class="policy-name">{{data[key].Dsc}}</h2>
    </div>
    <div class="dashboard-policy-row-body">
      <div class="dashboard-policy-row-body-inner">
       
        <div class="dashboard-policy-record mr-3" (click)="onRecordCLick($event, key, record)" *ngFor="let record of data[key].Policies">
          <div class="dashboard-policy-record-row">
            <p>Ασφαλισμένος</p>
            <p>{{record.Object}}</p>
          </div>
          <div class="dashboard-policy-record-row">
            <p>Αρ. Συμβολαίου</p>
            <p>{{record.PolicyNo}}</p>
          </div>
          <div class="dashboard-policy-record-row">
            <p>Ημ.Έναρξης</p>
            <p>{{formatDate(record.PolicyStart)}}</p>
          </div>
          <div class="dashboard-policy-record-row">
            <p>Ημ.Λήξης</p>
            <p>{{formatDate(record.PolicyEnd)}}</p>
          </div>
          <div class="dashboard-policy-record-row">
            <p>Κατάσταση</p>
            <p>{{record.Status}}</p>
          </div>  
          <div class="dashboard-policy-record-row">
            <p>e-policy</p>
            <p>{{record.Consent}}</p>
          </div>                                                  
        </div>

      </div>
    </div>
  </ng-template>
  <ng-template #mobileHide></ng-template>
</div>
