.dashboard-list-view-mobile {
  .dashboard-policy-row {

    .dashboard-policy-row-head {
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 0px 4px #00000029;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 8px 16px;
      overflow: hidden;

      >.policy-icon {
        max-height: 85px;
        margin-right: 16px;
      }

      >.policy-name {
        font: normal normal normal 24px/46px "lato", lato, sans-serif;
        letter-spacing: 0.17px;
        color: #000000;
      }
    }

    .dashboard-policy-row-body {
      overflow-y: hidden;

      .dashboard-policy-row-body-inner {
        font-size: 0;
        overflow: auto;
        white-space: nowrap;
        transform: translateY(20px);
        padding-bottom: 20px;
        margin-top: -20px;

        .dashboard-policy-record {
          padding: 16px;
          vertical-align: top;
          display: inline-block;
          font-size: initial;
          width: 75vw;
          margin-bottom: 16px;
          background: #FFFFFF 0% 0% no-repeat padding-box;
          box-shadow: 0px 0px 4px #00000029;
          border-radius: 4px;

          &:first-child {
            margin-left: 15px;
          }

          .dashboard-policy-record-row {
            margin-bottom: 8px;

            >p {
              white-space: normal;

              &:first-child {
                margin: 0;
                padding: 0;
                font: normal normal normal 14px/20px "lato", lato, sans-serif;
                letter-spacing: 0.09px;
                color: #00000099;
              }

              &:last-child {
                margin: 0;
                padding: 0;
                font: normal normal normal 20px/25px "lato", lato, sans-serif;
                letter-spacing: 0.26px;
                color: #000000;
                min-height: 50px;
              }
            }
          }
        }

      }
    }
  }
}

@media (max-width:767px) {
  .dashboard-list-view-mobile {
    .dashboard-policy-row {
      .dashboard-policy-row-body {
        margin-left: -15px !important;
        margin-right: -15px !important;
      }
    }
  }
}
