.dashboard-view {

  // Section A
  .dashboard-title {
    color: #004A92;
    text-align: center;
    font: normal normal normal 34px/41px "lato", lato, sans-serif;
    letter-spacing: 0.24px;
    color: #004A92;
    margin: 0 auto 32px auto;
    padding: 0;
  }

  // Section B
  .dashboard-policy-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .dashboard-policy-filter {
      display: flex;
      align-items: center;
      justify-items: flex-start;
      margin-bottom: 16px;

      .dashboard-filter-dropdown {
        margin-right: 8px;

        >a {
          &:after {
            display: none;
          }
        }
      }

      .dashboard-active-policy-filters {
        list-style: none;
        display: flex;
        align-items: center;
        justify-items: flex-start;
        margin: 0;
        padding: 0;

        >li {
          background-color: #e0e0e0;
          border-radius: 16px;
          margin-right: 8px;
          padding: 2px 8px;

          >span {
            color: #000;
            text-align: left;
            font: normal normal normal 14px/20px "lato", lato, sans-serif;
            letter-spacing: 0.09px;
          }

          >i {
            margin-left: 4px;
            color: #5a5a5a;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

    .dashboard-view-options {
      margin: 0 0 16px auto;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      >li {
        &:not(:first-child) {
          margin-left: 16px;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  // Section C -> see dashboard-grid or dashboard-list components

  // Section D
  .dashboard-bullet-list {
    list-style: none;
    margin: 64px 0 0 0;
    padding: 0;

    >li {
      margin-bottom: 8px;

      &:before {
        content: '•';
        color: #00000099;
        opacity: 0.87;
        margin-right: 16px;
        font-size: 32px;
        line-height: 15px;
      }

      * {
        vertical-align: top;
        display: inline;
      }

      >p {
        font: normal normal normal 12px/15px "lato", lato, sans-serif;
        letter-spacing: 0.4px;
        color: #00000099;
        opacity: 0.87;
        margin: 0;
        padding: 0;
      }
    }
  }

}
